input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 10px;
  padding: 4px 10px;
  border: none;

  &:hover {
    background-color: #ff7fff;
    color: #fff;
    cursor: pointer;
  }
}

li {
  margin-right: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.inputContainer {
  background-color: #c1ffff;
  width: 300px;
  height: 30px;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 15px;
}

.incompletedContainer {
  background-color: #c6ffe2;
  width: 300px;
  min-height: 200px;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 15px;
}

.completedContainer {
  background-color: #ffffe0;
  width: 300px;
  min-height: 200px;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 15px;
}

.todo {
  display: flex;
  align-items: center;
  padding-bottom: 4px;

  /* justify-content: space-between; */
}
