.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

.title{
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

button {
  border-radius: 16px;
  padding: 4px 16px;
  border: none;
  &:hover {
    background-color: #ff7fff;
    color: #fff;
    cursor: pointer;
  }
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.list-row{
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

li{
  margin-right: 8px;
}
